html
  head
    title= title
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
  body
    h1= message
    ul
      for entry in entries
        li
          span
            img(src="/img/" + entry.image)
            span #{entry.title} #{entry.count}
          
