doctype html
html
  head
    title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-material.min.css', rel='stylesheet')
    link(href='/css/ripples.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
  body
    block content
