doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content=metaDescription)
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    meta(property="og:image", content="https://nodecasts.io/img/nodecasts.jpg")
    meta(property="og:title", content="Learn Node.js - Free JavaScript Courses")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://nodecasts.io")
    meta(property="og:site_name", content="Learn Node.js - Free JavaScript Courses")
    meta(property="og:description", content="Learn Node.js quickly with these free JavaScript courses. Our video tutorials cover Node.js, JavaScript and Web Performance!")
    meta(property="description", content="Learn Node.js quickly with these free JavaScript courses. Our video tutorials cover Node.js, JavaScript and Web Performance!")
    meta(name="twitter:card", content="photo")
    meta(name="twitter:site", content="@nodecastsio")
    meta(name="twitter:creator", content="@nodecastsio")
    meta(name="twitter:title", content="Learn Node.js - Free JavaScript Courses")
    meta(name="twitter:description", content="Learn Node.js quickly with these free JavaScript courses. Our video tutorials cover Node.js, JavaScript and Web Performance!")
    meta(name="twitter:image", content="https://nodecasts.io/img/nodecasts.jpg")
    meta(name="twitter:url", content="https://nodecasts.io")
  body
    block content
    include ./includes/footer.pug
    script(src='/js/script.js')
    script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21008844-15', 'auto');
      ga('send', 'pageview');
