extends ./layout.pug

block content
  include ./includes/navbar.pug
  div.container-fluid
    div.row
      div.col-md-8.col-md-offset-2.Video
        h1 Results for '
          span= query
          span '

        div.list-group
          for video in videos
            a.list-group-item(href='/video/' + video.id) #{video.title}
