extends ./layout.jade

block content
  include ./includes/navbar.jade
  div.row
    div.col-md-8.col-md-offset-2.Video
      h1 Results for 
        span= query

      ul.list-group
        for video in videos
          li.list-group-item(data-id=video.id) #{video.title}
